package page
import (
    "xerus/internal/view/component"
    "xerus/internal/view/template"
	"xerus/internal/view"
	
)
templ Home(head view.DocumentHead) {
    @template.CloudBase(head) {
        <script src="/static/compiled/js/dynamic.js?v={ head.Version }" data-library="cloud-standalone"></script>
    }
}
