package template
import (
	"xerus/internal/view"
)
templ CloudBase(head view.DocumentHead) {
    <html>
        <head>
			<meta charset="UTF-8"></meta>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
			<title>{ head.PageInfo.Title }</title>
			<meta name="description" content={ head.PageInfo.Description }>
			<link rel="canonical" href={ head.PageInfo.CanonicalURL }>
			<link rel="icon" href="/favicon.ico" type="image/x-icon">
			<style>
				body {
					margin: 0;
					padding: 0;
					overflow: hidden;
					background: #1e4877;
				}
				#cloud9-container {
					position: fixed;
					top: 0;
					left: 0;
					width: 100vw;
					height: 100vh;
					z-index: 1;
				}
			</style>
        </head>
        <body>
            { children... }
        </body>
    </html>
}