package template

import "xerus/internal/component"


templ Base(title string) {
    <html>
        <head>
            <meta charset="UTF-8"></meta>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
            <link rel="stylesheet" href="/static/css/output.css"></link>
            <script type="module" src="/static/js/app.js"></script>
            <title>{title}</title>

        </head>
        <body class="font-mono">
            <main class="p-6 grid gap-4">
                { children... }
            </main>
        </body>
    </html>
}


templ Home(title string) {
    @Base(title) {
        <header  class="text-lg space-y-6">
            <hgroup>
                <h1 class="font-bold">Chris Rock</h1>
                <h2>Software Developer currently in Toronto</h2>
            </hgroup>
            <address class="not-italic">
                <a rel="author noopener noreferrer" class="email hover-underline-animation left after:bg-black" href="mailto:chris@tilde.technology">chris@tilde.technology</a><br />
                <a class="no-indicator hover-underline-animation left after:bg-black" rel="noopener noreferrer" target="_blank" href="https://github.com/therealchrisrock">&#x40;TheRealChrisRock</a> / <a rel="noopener noreferrer" class="no-indicator hover-underline-animation left after:bg-black" target="_blank" href="https://github.com/giffen-good">&#x40;Giffen-Good</a><br />
            </address>
        </header>
        <section class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-4 max-w-screen-lg">
            <a href="/" class=" hover:shadow transition-shadow">
                @component.Card(
                    "No Maintenance",
                    "Originally commissioned by Telefónica and Mozilla Corporation as part of the joint effort during the development of Firefox OS.",
                    templ.Attributes{"src": "/static/media/logo-placeholder.png"},
                    []string{"Design", "Development", "Consulting", "Ecommerce", "CRO"},
                )
            </a>
            <a href="/" class=" hover:shadow transition-shadow">
                @component.Card(
                    "The Swap Dapp",
                    "Originally commissioned by Telefónica and Mozilla Corporation as part of the joint effort during the development of Firefox OS.",
                    templ.Attributes{"src": "/static/media/logo-placeholder.png"},
                    []string{"Design", "Development", "Consulting", "Ecommerce", "CRO"},
                )
            </a>
        </section>
        <script src="/static/js/dynamic.js" data-library="easter-egg"></script>
    }
}

templ Mantracker(title string) {
     @Base(title) {
        <header  class="text-lg space-y-6">
                <hgroup>
                    <h1 class="font-bold">Chris Rock</h1>
                    <h2>Software Developer currently in Toronto</h2>
                </hgroup>
                <address class="not-italic">
                    <a rel="author noopener noreferrer" class="email hover-underline-animation left after:bg-black" href="mailto:chris@tilde.technology">chris@tilde.technology</a><br />
                    <a class="no-indicator hover-underline-animation left after:bg-black" rel="noopener noreferrer" target="_blank" href="https://github.com/therealchrisrock">&#x40;TheRealChrisRock</a> / <a rel="noopener noreferrer" class="no-indicator hover-underline-animation left after:bg-black" target="_blank" href="https://github.com/giffen-good">&#x40;Giffen-Good</a><br />
                </address>
            </header>
            <section class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-4 max-w-screen-lg">
                <a href="/" class=" hover:shadow transition-shadow">
                    @component.Card(
                        "No Maintenance",
                        "Originally commissioned by Telefónica and Mozilla Corporation as part of the joint effort during the development of Firefox OS.",
                        templ.Attributes{"src": "/static/media/logo-placeholder.png"},
                        []string{"Design", "Development", "Consulting", "Ecommerce", "CRO"},
                    )
                </a>
                <a href="/" class=" hover:shadow transition-shadow">
                    @component.Card(
                        "The Swap Dapp",
                        "Originally commissioned by Telefónica and Mozilla Corporation as part of the joint effort during the development of Firefox OS.",
                        templ.Attributes{"src": "/static/media/logo-placeholder.png"},
                        []string{"Design", "Development", "Consulting", "Ecommerce", "CRO"},
                    )
                </a>
            </section>
    }
}